<div class="container">
    <div class="row">
        <div class="col">
            <h1>Upload midi audio</h1>
            <form action="/" method="POST" enctype="multipart/form-data">
                <div class="form-group">
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" name="midi" id="midi">
                    </div>
                </div>
            <button type="submit" class="btn btn-primary">Upload</button>
            </form>
        </div>
    </div>
</div>
