<html><body style="background-color:FFE4C4"></body></html>
<div class="container"><h>Welcome to the music generation app</h>
    <style>
   h{
    font-family: 'Times New Roman', Times, serif;
    font-size: 350%;
   }
  </style>
    <div class="row"><h1>We accept audio only in .mid format.<a href="https://www.bearaudiotool.com/en/mp3-to-midi" target="_blank">Convert it here</a></h1>
        <div class="col"><h2>Upload audio</h2>
            <form action="/" method="POST" enctype="multipart/form-data">
                <div class="form-group">
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" name="midi" id="midi">
                    </div>
                </div>
            <button type="submit" class="btn btn-primary">Upload</button>
            </form>
        </div>
    </div>
</div>
